.heading{
    background-image: url('../asset/image1/h_img.jpg');
    text-align: center;
    color: azure;

}
#about-us{
    text-align: center;
}
.service{
    background-image: url('../asset/image1/s_image.jpg');
    text-align: center;
    color: beige;
}
.what{
    text-align: center;
}
h2{
    text-align: center;
}
.apply{
    background-image: url('../asset/image1/c_image.jpg');
    text-align: center;

}
.apps{
    text-align: center;
}
input{
    background: none;
    border: solid white;
}
textarea{
    background: none;
    border: solid white;
}
.hide0{
    display:none;
}
.hide1{
    display:none;
}
.hide2{
    display:none;
}
h3{
    text-align: center;
    color: white;
}
.answer{
    background: blue;
}
.road1{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road2{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road3{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road4{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road5{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road6{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road7{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
.road8{
    position: absolute;
    margin-top: -200px;
    margin-left: 0vh;
    column-width:42vh ;
    color: rgb(228, 15, 199);
    background-color: rgb(0, 0, 0,.2);
    padding: 50px 30px 50px 40px;
    display: none;
}
