.heading{
    background-image: url('../asset/image1/h_img.jpg');
    text-align: center;
    color: azure;

}
#about-us{
    text-align: center;
}
.service{
    background-image: url('../asset/image1/s_image.jpg');
    text-align: center;
    color: beige;
}
#mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }
#mouse-click{
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% 
}
transform: translateY(0);
}
40% {
  transform: translateY(-55px);
}
60% {
  transform: translateY(-45px);
}
}